body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.headerMain {
  display: flex;
  background-color: rgb(143, 136, 136);
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.button {
  color: rgb(252, 252, 252);
  text-decoration: none;
  background-color: black;
  padding: 15px 20px;
  transition: 0.3s;
  width: 180px;
  text-align: center;
  font-weight: bold;
}
.button:hover {
  background-color: rgb(124, 124, 124);
}
.img {
  height: 30px;
}
.navigation {
  display: flex;
  gap: 30px;
}
